# macOS system files
.DS_Store

# Git metadata
.gitattributes

# IDE-specific files (optional)
*.iml
.idea/
*.class
out/
*.mp4
/output
.gitattributes
.gitignore
.windsurfrules
/build
gradlew
gradlew.bat
.gradle
gradle.wrapper
gradle-wrapper.jar
gradle-wrapper.properties