# macOS system files
.DS_Store

# Git metadata
.gitattributes

# IDE-specific files (optional)
out/
*.iml
.idea/
/build
/output
*.class
.gradle
gradlew
.gitignore
gradlew.bat
.gitattributes
.windsurfrules
gradle.wrapper
gradle-wrapper.jar
gradle-wrapper.properties